@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Varela+Round&display=swap');

* {
    font-size: 1em;
}

:root {
    --font1: 'Acme', sans-serif;
    --font2: 'Varela', sans-serif;
    --font3: 'Anton', sans-serif;
}
#header {
    margin: -8px;
    color: white;
    font-family: var(--font3);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 200px;
    border: 1px solid black;
}
#header > h1 {
    font-size: 2.8em;
    margin: 40px 0px 0px 0px;
}
#header > p {
    margin: 0;
    font-size: 0.6em;
    font-family: var(--font2);
    font-size: 0.8em;
}
.section {
}
.section  p {
    text-align: center;
    margin: auto;
   
}
#ausencia {
    font-size: 1.2em;
    margin-bottom: 50vh;
    border: 1px solid black;
    padding: 20px;
}
#ausencia > p {
    padding: 20px;
    font-family: var(--font1);
    line-height: 1.7em;
    
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    padding: 10px 10px;
}

#strange {
    min-width: 600px;
    color: white;
    background-image: url(imagens/pexels-jeswin-thomas-1280162.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 50px;
    
    
}

#strange > p {
    
    max-width: 800px;
    min-width: 500px;
    font-size: 1.9em;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    padding: 20px;
}
#door {
    
    color: white;
    padding-bottom: 50px;
    background-image: url(imagens/door4.jpg);
    background-position: center center;
    background-attachment: fixed;
}

#door > p {
    width: 70vw;
    font-size: 1.2em;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    padding: 10px;
}

h2 {
    text-indent: 20px;
    font-size: 1.5em;
}

#bones {
    color: white;
    background-image: url(imagens/mom.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 20px;
    
}
#bones > p {
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1.2em;
   
}

#yourself {
}
#yourself > p {
    font-size: 1.2em;
   
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    padding: 10px;
}
cite {
    font-style: normal;
}
address {
    margin-top: -10px;
    margin-bottom: 20px;
    text-indent: 20px;
    font-family: var(--font2);
    font-size: 3.5vw;
}
footer {
    text-align: center;
    height: 50px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 10px;
    color: white;
    background-color: black;
    font: normal 0.9em var(--font2);
}
