@charset "UTF-8";

body { margin: auto;

}
.cabeca {
    padding: 0px 30px 0px 10px;
    height: 60px;
    width: 600px;
    background-color: darkseagreen;
    margin-bottom: 50px;
    margin-top: 10px;
    border: 1px solid black ;

}

nav {
    
    width: inherit;
    padding:7px 20px 5px 10px;
    margin-top: 40px;
    background-color: darkcyan;
    border: 1px solid black;
}
a{
    background-color: darkgreen;
    text-decoration: unset;
    color: black;
    margin-right: 3px;
    padding: 3px;
}

main {
    padding: 30px 20px 30px 20px;
    margin-bottom: 50px;
    margin-top: 70px;
   font: normal 1.1em 'Verdana', 'Helvetica', 'sans-serif';
   text-align: justify;
    background-color: darkcyan;
    width: 600px;
    border: 1px solid black;
}

article {
    padding:0px 10px 5px 10px;
    background-color: darkgreen;
    border: 1px solid black;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.562);
}

footer {
    text-align: center;
    padding: 0px 30px 0px 10px;
    height: 30px;
    width: 600px;
    color: azure;
    background-color: rgb(1, 66, 66);
    border: 1px solid black;
}
h2 {
    margin: 0;
    position: relative;
    left: 5%;
}
h1 {
    margin: 0;
}
p{
    margin: 0;
}