@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

:root {
    --corfundo: #1C4E80;
    --corformulario: #F1F1F1;
    --coricon: #00abe7;
    --cor-botao-entrar: #0091D5;
    --cor-botao-recuperar: #A5D8DD;
}

body {
    background-color: var(--corfundo);
}

.corpo-formulario {
   position: absolute;
   top: 10%;
   left: 10%;
   
    text-align: center;
    width: 80vw;
    border: 1px solid black;
    border-radius: 10px;
}
section {
    text-align: center;
}
img {
 max-width: 100%;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px; 
}

main {
    background-color: var(--corformulario);
}

main > p {
    text-align: left;
    font-size: 0.9em;
    padding: 5px;
}
h1 {
    font-size: 1.1em;
}

/* CONTAINER DE LOGIN E SENHA  */
.div-login-senha {                      
    position: relative;
    padding-left: 2px;
    margin: auto;
    border: 1px solid black;
    background-color: var(--coricon) ;
    border-radius: 5px;
    width: 230px;
    height: 40px;
    margin-bottom: 10px;
}

/* INPUT DE EMAIL */
#ilogin {                       
    line-height: 3px;
    font-size: 1em;
    height: 5px;
    width: 173px;
    display: inline-block;
    padding: 19px 29px 16px 0;
    margin-left: 28px;
    border: none;
}

/* INPUT DE SENHA */
#isenha {                   
    height: 5px;
    width: 173px;
    display: inline-block;
    padding: 19px 30px 16px 0;
    margin: 0 0 0 27px;
    border: none;
}


.material-symbols-outlined {
  color: #FFFF;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

#icon-pessoa {
    position: absolute;
    top: 15%;
    right: 89%;
    
}

#icon-senha {
    position: absolute;
    top: 20%;
    right: 89%;
}

.botoes {
    margin: auto;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    width: 230px;
    height: 40px;
    margin-bottom: 20px;
}

#btn-entrar {
    background-color: var(--cor-botao-entrar);
}

