@charset "UTF-8";

body {
    background-image: linear-gradient(-45deg,#EF7674, #EC5766,#DA344D,#C42348 );
    text-align: center;
    background-attachment: fixed;
   }
h1 {
    color: #172121;
    margin: auto;
   }
