@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f3f3f3;
}

header {
    text-align: center;
    background-color: lightgray;
    
}
span {
    display: block;
    margin: 0;
    width: 100vw;
    background-color: #312f2f;
    color: white;
    cursor: pointer;
}
span:hover {
    background-color: white;
    color: black;
}
header h1 {
    padding: 5px;
}
nav {
    margin-top: -4px;
    display: none;
}
nav a {
    display: block;
    background-color: rgb(90, 89, 89);
    color: white;
    padding: 5px;
    border: 1px solid rgb(128, 128, 128);
    box-sizing: border-box;
    text-decoration: none;
}
nav a:hover {
    background-color: rgb(204, 202, 202);
}

main {
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    font-size: 1.2em;
    
    
}
main > article > h2 {
    padding: 5px;
    text-align: center;
    
}
main p {
    text-align: justify;
}
