@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
table {
    width: 500px;
    border-collapse: collapse;
    font-size: 1.1em;
    margin: auto;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
table > tbody > tr > th {
    background-color: gray;
    color: white;
}
.media {
    background-color: gray;
    color: white;
}
.area {
    background-color: white;
    color: black;
}