@charset "UTF-8";


* {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    
}

.livro {
    background-color: greenyellow;
}

.novela {
    background-color: royalblue;
}
.legenda {
    display: inline-block;
}
.legenda-livro {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: greenyellow;
}
.legenda-novela {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: royalblue;

}
.celulas-numero {
    text-align: right;
}